<h2 mat-dialog-title class="dialog-header">
  <span>Editar Usuario</span>
  <button mat-button class="close-button" (click)="onNoClick()">✖</button>
</h2>

<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="data.nombre">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Correo</mat-label>
    <input matInput [(ngModel)]="data.correo">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Contraseña</mat-label>
    <input matInput [(ngModel)]="data.contrasenia" type="password">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Rol</mat-label>
    <mat-select [(ngModel)]="data.id_rol">
      <mat-option *ngFor="let rol of roles" [value]="rol.id">
        {{ rol.nombre }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Estado</mat-label>
    <mat-select [(ngModel)]="data.visibilidad">
      <mat-option [value]="true">Inactivo</mat-option>
      <mat-option [value]="false">Activo</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button color="primary" (click)="onSave()">Guardar</button>
</div>
