.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    overflow-x: auto; 
    padding: 20px;
    background-color: #f0f0f0;
    margin: 0 auto;
  }
  
  table {
    width: 100%;
    max-width: 1000px;
  }
  
  .add-button {
    position: fixed;
    bottom: 16px;
    right: 16px;
  }
  
  .titulo-container {
    background-color: black;
    border-radius: 8px;
    padding: 5px 15px;
    text-align: center;
    width: fit-content;
    transition: transform 0.3s;
    cursor: pointer;
    margin: 0 auto;
  }
  
  .titulo-container:hover {
    transform: scale(1.1);
  }
  
  .titulo-container h2 {
    color: white;
  }
  