<h2>Editar Insumo/Utensilio</h2>
<form>
  <label>Nombre:</label>
  <input type="text" [(ngModel)]="data.nombre" name="nombre" placeholder="Nombre del insumo/utensilio">

  <label>Tipo de Insumo:</label>
  <select [(ngModel)]="data.id_tipo_insumo" name="id_tipo_insumo">
    <option *ngFor="let tipo of tiposInsumo" [value]="tipo.id">{{ tipo.tipo }}</option>
  </select>

  <label>Precio Unitario:</label>
  <input type="number" [(ngModel)]="data.precio_unitario" name="precio_unitario" placeholder="Precio unitario">

  <label>Cantidad:</label>
  <input type="number" [(ngModel)]="data.cantidad" name="cantidad" placeholder="Cantidad">

  <label>Unidad de Medida:</label>
  <select [(ngModel)]="data.id_unidad_medida" name="id_unidad_medida">
    <option *ngFor="let unidad of unidadesMedida" [value]="unidad.id">{{ unidad.nombre }}</option>
  </select>

  <label>
    Inventario Renovable: 
    <input type="checkbox" [(ngModel)]="data.inventarioRenovable" name="inventarioRenovable">
  </label>

  <label>
    Fecha Ingreso: 
    <input type="date" [(ngModel)]="data.fecha_ingreso" name="fecha_ingreso">
  </label>

  <label>
    Fecha Vencimiento: 
    <input type="date" [(ngModel)]="data.fecha_vencimiento" name="fecha_vencimiento">
  </label>
  
  <div class="buttons">
    <button type="button" class="save-button" (click)="saveInsumo()">Guardar</button>
    <button type="button" class="cancel-button" (click)="close()">Cancelar</button>
  </div>
</form>
