<div class="qs-container">
    <h1 class="qs-titulo">¿QUIÉNES SOMOS?</h1>
    <p>
        K-rol’s Cakes es una pastelería fundada por una talentosa chef repostera, quien se graduó como chef profesional en el año 2013. 
        En 2018, comenzó a trabajar en una organización dedicada a apoyar a mujeres de escasos recursos, donde se encargaba de toda la repostería en una cafetería.
        Durante su tiempo en la cafetería, se introdujo el servicio para eventos personalizados como bodas, graduaciones, etc., lo que requería pasteles y cupcakes con temáticas muy específicas y personalizadas.
        <br><br>
        En marzo de 2020, debido a la pandemia de COVID-19, la cafetería tuvo que cerrar sus puertas. Sin embargo, este evento marcó el comienzo del emprendimiento de K-rol’s Cakes.
        A pesar del cierre, la gente seguía contactando a la chef para encargar pasteles personalizados, como un pastel de boda mitad tradicional y mitad de Batman, un pastel en forma de cubo Rubik, o bien el de un personaje favorito para una fiesta de cumpleaños en lugar de solo comprar un pastel sin diseño.
        Su habilidad para crear estos pasteles únicos rápidamente se hizo conocida entre sus amigos y conocidos, y la demanda por sus productos empezó a crecer.
        <br><br>
        Hoy en día, K-rol’s Cakes es conocida por su alta calidad y creatividad en repostería personalizada. 
        La demanda es tan alta que, en ocasiones, la chef se ve obligada a rechazar pedidos debido a una agenda completamente llena.
        La pastelería se ha convertido en un referente en la comunidad, no solo por sus deliciosos pasteles, sino también por su capacidad para transformar cualquier idea en una obra de arte comestible.
        <br><br>
        K-rol’s Cakes, ¡Un dulce gusto!
    </p>
    <img src="assets/qs.jpg" alt="K-rol's Cakes" class="org">
</div>

<img src="assets/choco.gif" alt="Cupcake Left" class="choco-left">
<img src="assets/choco.gif" alt="Cupcake Right" class="choco-right">
