.qs-container {
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 20px auto; /* Centra el contenedor en la página */
    padding: 20px; /* Espaciado interno */
    background-color: rgba(255, 239, 204, 0.9); /* Fondo con un color suave */
    border-radius: 12px; /* Bordes redondeados */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
    max-height: 80vh; /* Limita la altura del contenedor */
    overflow-y: auto; /* Habilita el scroll vertical si el contenido excede la altura */
}

.qs-titulo {
    background-color: #6a1b9a; /* Color de fondo morado */
    color: white; /* Color de texto blanco */
    text-align: center;
    padding: 20px;
    border-radius: 8px; /* Bordes redondeados */
    margin: 0 auto 20px auto; /* Centrar horizontalmente y margen inferior */
    font-size: 32px; /* Tamaño de fuente más grande */
    width: 60%; /* Ancho del contenedor */
}

.org {
    display: block; /* Hace que la imagen sea un bloque */
    margin: 20px auto; /* Centra la imagen horizontalmente */
    width: 500px; /* Ajusta el ancho de la imagen (incrementa el valor según sea necesario) */
    height: auto; /* Mantiene la relación de aspecto */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil para la imagen */
}

.choco-left, .choco-right {
    width: 100px; /* Ancho de la imagen */
    height: auto; /* Mantiene la relación de aspecto */
    position: fixed; /* Posiciona la imagen en relación a la ventana del navegador */
    top: 70px; /* Ajusta la distancia desde la parte superior de la página, más allá del header */
    z-index: 1000; /* Asegura que el GIF esté encima de otros elementos de la página */
}

.choco-left {
    left: 10px; /* Ajusta la distancia desde la parte izquierda de la página */
}

.choco-right {
    right: 10px; /* Ajusta la distancia desde la parte derecha de la página */
}

p {
    font-family: 'Arial', sans-serif; /* Cambiar la fuente */
    font-size: 20px; /* Tamaño de letra */
    line-height: 1.5; /* Interlineado */
    margin: 10px 0; /* Espaciado superior e inferior */
    color: #333; /* Color del texto */
    text-align: justify; /* Justifica el texto */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Sombra del texto */
}