<h2>Agregar Rol y Acceso</h2>
<form>
  <mat-form-field>
    <mat-label>Nombre Rol</mat-label>
    <input matInput placeholder="Ingrese el nombre del rol">
  </mat-form-field>
  


  <mat-form-field>
    <mat-label>Acceso</mat-label>
    <mat-select>
      <mat-option value="1">Acceso 1</mat-option>
      <mat-option value="2">Acceso 2</mat-option>
      <mat-option value="3">Acceso 3</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-button color="primary">Guardar</button>
</form>

