.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    overflow-x: auto; 
    padding: 20px;
    background-color: #f0f0f0;
    margin: 20px auto;
}

table {
    width: 100%;
    max-width: 1000px;
}

.button-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.titulo-container {
    background-color: black;
    border-radius: 8px;
    padding: 5px 15px;
    text-align: center;
    width: fit-content;
    transition: transform 0.3s;
    cursor: pointer;
    margin: 20px auto;
}

.titulo-container:hover {
    transform: scale(1.1);
}

.titulo-container h2 {
    color: white;
    margin: 0;
    font-size: 1.2em;
}

