  <app-inicio>
  <div class="app-container">    
    <div class="contact-container">
      <mat-card class="contact-card">
        <mat-card-content>
          <h2 class="contact-title">Contáctanos</h2> <!-- Título agregado -->
          <div class="contact-item">
            <img src="assets/whatsapp.png" alt="Ícono de WhatsApp" class="contact-icon" />
            <span class="contact-text">WhatsApp: + 502 86874525</span>
          </div>
          <div class="contact-item">
            <a href="https://www.facebook.com/profile.php?id=100032304806803" target="_blank">
              <img src="assets/facebook.png" alt="Ícono de Facebook" class="contact-icon" />
              <span class="contact-text">Facebook</span> <!-- Mover el texto dentro del enlace -->
            </a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</app-inicio>

  
  




