/* Estilo general del contenedor */
.container {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  overflow-x: auto;
}

/* Estilo de los títulos */
h3, h2 {
  margin-top: 20px;
  color: #6a4c93; /* Morado suave */
  font-size: 1.6em;
}

.pedido-info {
  background-color: #fff; 
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
}

/* Estilo de la lista de desglose */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.total-pedido {
  font-weight: bold;
  color: #bb86fc; /* Morado suave */
}

/* Estilo de la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  table-layout: auto;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

th {
  background-color: #ae5d01; /* Morado pastel */
  color: white;
}

/* Efecto hover en las celdas */
tr:hover td {
  background-color: #f1e4ff; /* Fondo morado claro en hover */
}

/* Estilo de los botones */
button {
  background-color: #bb86fc; /* Morado suave */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #9b59b6; /* Morado más oscuro en hover */
}

/* Estilo de la sección de subida de imágenes */
.upload-section {
  margin-top: 20px;
  border: 1px dashed #bbb;
  padding: 15px;
  border-radius: 5px;
  background-color: #fff;
}

/* Estilo para las imágenes en miniatura */
.image-preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.image-preview img {
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100px;
}

/* Estilo de los selects */
select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  background-color: #f9f9f9;
  margin-bottom: 10px;
}
