.container {
  display: flex; /* Usamos flexbox para centrar el contenido */
  justify-content: center; /* Centra el contenedor hijo */
  width: 300%; /* Asegúrate de que el contenedor tenga un ancho definido */
  margin-left: -38px; /* Ajusta este valor según sea necesario */
}


.table-container {
  display: flex;
  justify-content: flex-start; /* Cambia a flex-start para alinear a la izquierda */
  align-items: center;
  width: calc(100% - 200px); /* Ajusta para compensar los márgenes */
  height: 400px; /* Aumentar la altura para que sea más grande */
  overflow-x: auto; /* Scroll horizontal */
  overflow-y: hidden; /* Ocultar el scroll vertical si no es necesario */
  padding: 20px;
  background-color: #e7b31566;
  border: 2px solid #705000; /* Opcional: para un borde alrededor del contenedor */
  margin: 0 auto; /* Centra el contenedor dentro de su padre */
}

table {
  width: 300%; /* Incrementa el tamaño total de la tabla */
  max-width: 4000px;
  min-width: 2000px; /* Mínimo ancho para evitar que la tabla sea demasiado pequeña */
  border-collapse: collapse; /* Colapsar los bordes para que la tabla luzca mejor */
}

table th, table td {
  padding: 10px 20px; /* Espaciado dentro de las celdas */
  border: 1px solid #ddd; /* Borde de las celdas */
  text-align: left;
  white-space: nowrap; /* Evitar que el contenido de las celdas se ajuste a varias líneas */
}

.button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.titulo-container {
  background-color: black;
  border-radius: 8px;
  padding: 5px 15px;
  text-align: center;
  width: fit-content; /* Mantiene el ancho del contenedor según el contenido */
  transition: transform 0.3s;
  margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.titulo-container:hover {
  transform: scale(1.1);
}

.titulo-container h2 {
  color: white;
  margin: 0;
  font-size: 1.2em;
}

/* Boton para ver detalle */

.detalle-button {
  background-color: #ad7a03; /* Color de fondo */
  color: white; /* Color del texto */
  font-size: 14px;
  padding: 2px 9px; /* Relleno ajustado: 5px en la parte superior/inferior, 15px en los lados */
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.detalle-button:hover {
  background-color: #dda82e; /* Color cuando se pasa el mouse por encima */
}

.detalle-button {
  margin-right: 8px; /* Añade un pequeño margen entre los botones */
}


/* Boton para ver confirmar */

.confirmar-button {
  background-color: #d99add; /* Color de fondo */
  color: white; /* Color del texto */
  font-size: 14px;
  padding: 2px 9px; /* Relleno ajustado: 5px en la parte superior/inferior, 15px en los lados */
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.confirmar-button:hover {
  background-color: #dd2ed1; /* Color cuando se pasa el mouse por encima */
}

.confirmar-button {
  margin-right: 8px; /* Añade un pequeño margen entre los botones */
}


/* Boton para agregar observacion */

.observacion-button {
  background-color: #5c0068; /* Color de fondo */
  color: white; /* Color del texto */
  font-size: 14px;
  padding: 2px 9px; /* Relleno ajustado: 5px en la parte superior/inferior, 15px en los lados */
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.observacion-button:hover {
  background-color: #b765c2; /* Color cuando se pasa el mouse por encima */
}

.observacion-button {
  margin-right: 8px; /* Añade un pequeño margen entre los botones */
}


/* Estilo del scrollbar */
.table-container::-webkit-scrollbar {
  height: 10px; /* Altura del scrollbar */
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #ca8400; /* Color de la barra de desplazamiento */
  border-radius: 10px; /* Bordes redondeados */
}

.table-container::-webkit-scrollbar-thumb:hover {
  background-color: #ca8400 /* Color al pasar el ratón por encima */
}

.table-container::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Fondo del track */
  border-radius: 10px; /* Bordes redondeados */
}

/* Scroll en otros navegadores */
.table-container {
  scrollbar-color: #ca8400 #f0f0f0; /* Color de la barra y del track */
  scrollbar-width: thin; /* Hace la barra más delgada */
}


 /* ESTILO PARA PAGINACION */
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  color: #000000; /* Color del texto predeterminado */
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 5px;
  border: 1px solid #dee2e6;
  background-color: white;
  cursor: pointer; /* Cambia el cursor a pointer */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.page-link:hover {
  background-color: #c28407; /* Cambia el fondo al pasar el ratón */
  color: white; /* Cambia el color del texto al pasar el ratón */
  text-decoration: none;
}

.page-item.active .page-link {
  background-color: #87651f; /* Color de fondo cuando está activo */
  border-color: #634000;
  color: white;
}

.page-item.disabled .page-link {
  color: #6c757d; /* Color gris para elementos deshabilitados */
  pointer-events: none; /* Deshabilita clic en elementos inactivos */
  background-color: #f8f9fa;
  border-color: #dee2e6;
}

.page-item .page-link:active {
  background-color: #ffb732; /* Color más oscuro al hacer clic */
  border-color: #854700;
  color: white;
}
