<app-sistema>
  <div class="titulo-bienvenida">
    Bienvenida
  </div>

  <div class="contenedor-botones">
    <div class="fila-botones">
      <div class="boton-item">
        <a routerLink="/listar-cotizaciones"><img src="assets/cotizaciones.png" alt="Cotizaciones"></a>
        <span>Cotizaciones</span>
      </div>
      <div class="boton-item">
        <a routerLink="/agenda"><img src="assets/agenda.png" alt="Agenda"></a>
        <span>Agenda</span>
      </div>
      <div class="boton-item">
        <a routerLink="/pedido"><img src="assets/pastel.png" alt="Ventas"></a>
        <span>Pedidos</span>
      </div>
      <div class="boton-item">
        <a routerLink="/compras"><img src="assets/inventario.png" alt="Inventario"></a>
        <span>Compras</span>
      </div>
    </div>
    
    <div class="fila-botones segunda-fila">
      <div class="boton-item">
        <a routerLink="/mantenimiento"><img src="assets/usuarios.png" alt="Titulo 1"></a>
        <span>Usuarios</span>
      </div>
      <div class="boton-item">
        <a routerLink="/receta"><img src="assets/recetas.png" alt="Titulo 2"></a>
        <span>Recetas</span>
      </div>
      <div class="boton-item">
        <a routerLink="/cliente"><img src="assets/clientes.png" alt="Titulo 3"></a>
        <span>Clientes</span>
      </div>
      <div class="boton-item">
        <a routerLink="/producto"><img src="assets/productos.png" alt="Titulo 4"></a>
        <span>Productos</span>
      </div>
    </div>
  </div>
</app-sistema>
