<app-sistema>
    <div class="contenedor-botones">
        <div class="fila-botones">
          <div class="boton-item">
            <img src="assets/cotizaciones.png" alt="Cotizaciones">
            <span>Cotizaciones</span>
          </div>
          <div class="boton-item">
            <img src="assets/agenda.png" alt="Agenda">
            <span>Agenda</span>
          </div>
        </div>
        <div class="fila-botones">
          <div class="boton-item">
            <img src="assets/ventas.png" alt="Ventas">
            <span>Ventas</span>
          </div>
          <div class="boton-item">
            <img src="assets/inventario.png" alt="Inventario">
            <span>Inventario</span>
          </div>
        </div>
      </div>
      
      
</app-sistema>
