/* Estilos para el modal */
.mat-dialog-container {
    width: 100px; /* Ancho del modal en relación al viewport */
    max-width: 900px; /* Tamaño máximo del modal */
    min-height: 400px; /* Aumenta la altura mínima del modal */
    padding: 30px; /* Espacio interior del modal */
}

/* Estilos para el título */
h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px; /* Aumenta el tamaño del título */
    color: #333;
}

/* Estilos para el formulario */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px; /* Aumenta el ancho máximo del formulario */
    margin: 0 auto; /* Centra el formulario dentro del modal */
}

/* Estilos para los campos de formulario */
mat-form-field {
    width: 100%; /* Los campos ocupan todo el ancho del formulario */
    margin-bottom: 30px; /* Aumenta el espacio entre los campos */
}

/* Estilos para el botón */
button {
    background-color: #c59e02; /* Color de fondo del botón */
    color: white; /* Color del texto */
    margin-top: 20px; /* Espacio superior */
    width: 70%; /* Aumenta el ancho del botón */
    font-size: 18px; /* Aumenta el tamaño del texto del botón */
    padding: 12px; /* Aumenta el padding del botón */
}

/* Efecto hover en el botón */
button:hover {
    opacity: 0.9; /* Ligera transparencia al pasar el mouse */
}

/* Estilos para los inputs */
mat-form-field input {
    text-align: left; /* Alinear el texto dentro de los campos de formulario */
    font-size: 18px; /* Aumenta el tamaño del texto dentro de los inputs */
}

/* Estilos adicionales para mejorar la estética */
.mat-form-field-label {
    color: #790094; /* Color del label */
    font-weight: bold;
}
