

<div class="vision-container">
    <h1 class="vision-titulo">ORGANIZACIÓN</h1>
    <p>
        La jerarquía de una pastelería, donde la posición más alta la ocupa la dueña, quien también es la pastelera y
        gerente general. Ella se encarga de toda la administración de la pastelería, la interacción con los clientes y
        la gestión de las ventas. En ciertos pedidos, es necesario contar con un repartidor para realizar envíos.
        Además, a veces se requieren diseños específicos para imprimir imágenes en papel fotográfico, arroz o azúcar,
        por lo que se contrata a un diseñador que se encarga de estas tareas y recibe un pago por cada diseño realizado.
    </p>
    <img src="assets/org.png" alt="Descripción de la imagen" class="org">
</div>

<img src="assets/choco.gif" alt="Cupcake Left" class="choco-left">
<img src="assets/choco.gif" alt="Cupcake Right" class="choco-right">
