<div class="vision-container">
    <h1 class="vision-titulo">VISIÓN</h1>
    <p>
        Ser reconocidos como la pastelería líder en la creación de pasteles personalizados en nuestra comunidad y más allá, 
        distinguiéndonos por nuestra creatividad, calidad superior y un servicio al cliente excepcional. Aspiramos a ser la 
        primera opción para todas las celebraciones especiales, convirtiendo cada momento en una experiencia inolvidable 
        a través de nuestras creaciones únicas y deliciosas.
    </p>
</div>

<br>

<div class="mision-container">
    <h1 class="mision-titulo">MISIÓN</h1>
    <p>
        Crear pasteles personalizados que superen las expectativas de nuestros clientes, utilizando ingredientes de la más alta calidad 
        y técnicas innovadoras. Nos dedicamos a ofrecer un servicio excepcional, asegurándonos de que cada cliente se sienta 
        valorado y satisfecho en cada interacción con nuestra pastelería. Sabiendo que sus celebraciones son importantes para 
        nosotros, nos esforzamos por hacer de cada ocasión un momento especial.
    </p>
</div>

<img src="assets/cupcake.gif" alt="Cupcake Left" class="cupcake-left">
<img src="assets/cupcake.gif" alt="Cupcake Right" class="cupcake-right">
