<body>
        
    <div class="navbar">
        <ul>
        
        <li><a routerLink="/cotizar" class="btn-cotizar"> <mat-icon>cake</mat-icon>Cotizar pedido</a></li>
    
    
        <li><a routerLink="/mision" class="btn-special"><mat-icon>book</mat-icon>Visión y Misión</a></li>
    
    
        <li><a routerLink="/organizacion" class="btn-special">  <mat-icon>group</mat-icon>Organización</a></li>
        
        <li><a routerLink="/contacto" class="btn-special"> <mat-icon>contact_mail</mat-icon>Contacto</a></li>
        <li><a routerLink="/qs" class="btn-special"><mat-icon>info</mat-icon> ¿Quiénes somos?</a></li>

        
        <li><a routerLink="/login" class="btn-login"> <mat-icon>login</mat-icon> Iniciar Sesión</a></li>
        
        </ul>
        
    </div>
    
    <div class="app-container">    
        <div class="vision-container">
            <h1 class="vision-titulo">VISIÓN</h1>
            <p>
                Ser reconocidos como la pastelería líder en la creación de pasteles personalizados en nuestra comunidad y más allá, 
                distinguiéndonos por nuestra creatividad, calidad superior y un servicio al cliente excepcional. Aspiramos a ser la 
                primera opción para todas las celebraciones especiales, convirtiendo cada momento en una experiencia inolvidable 
                a través de nuestras creaciones únicas y deliciosas.
            </p>
        </div>
        
        <br>
        
        <div class="mision-container">
            <h1 class="mision-titulo">MISIÓN</h1>
            <p>
                Crear pasteles personalizados que superen las expectativas de nuestros clientes, utilizando ingredientes de la más alta calidad 
                y técnicas innovadoras. Nos dedicamos a ofrecer un servicio excepcional, asegurándonos de que cada cliente se sienta 
                valorado y satisfecho en cada interacción con nuestra pastelería. Sabiendo que sus celebraciones son importantes para 
                nosotros, nos esforzamos por hacer de cada ocasión un momento especial.
            </p>
        </div>
        
        <img src="assets/cupcake.gif" alt="Cupcake Left" class="cupcake-left">
        <img src="assets/cupcake.gif" alt="Cupcake Right" class="cupcake-right">
        
    </div>
    
    <div class="footer">
        <p>© 2024 Krol Cakes. Todos los derechos reservados.</p>
    </div>
    </body>
    
    

