.table-container {
    display: flex;
    justify-content: center; /* Asegura que el contenido interno esté centrado */
    align-items: center;
    width: 80%; /* Mantiene el ancho del 80% */
    overflow-x: auto; 
    padding: 20px;
    background-color: #f0f0f0;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

table {
    width: 100%;
    max-width: 1000px; /* Mantiene el ancho máximo de la tabla */
}

.button-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px; /* Ancho del contenedor */
    height: 60px; /* Altura del contenedor */
    border-radius: 50%; /* Hace que el contenedor sea redondo */
    background-color: #6A5ACD; /* Color de fondo, puedes cambiarlo */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para un efecto de profundidad */
    transition: background-color 0.3s; /* Transición para el color de fondo */
}

.button-container:hover {
    background-color: #7B68EE; /* Cambia el color al pasar el mouse */
}
  
.titulo-container {
    background-color: black; /* Fondo negro */
    border-radius: 8px; /* Esquinas redondeadas */
    padding: 5px 15px; /* Espaciado interno reducido */
    text-align: center; /* Centra el texto dentro del contenedor */
    width: fit-content; /* Ajusta el ancho al tamaño del contenido */
    transition: transform 0.3s; /* Transición para el aumento de tamaño */
    cursor: pointer; /* Cambiar el cursor a una manita */
    margin: 20px auto; /* Centra el contenedor y agrega márgenes superior e inferior */
}

.titulo-container:hover {
    transform: scale(1.1); /* Aumentar el tamaño al pasar el mouse */
}

.titulo-container h2 {
    color: white; /* Color del texto */
    margin: 0; /* Elimina el margen del h2 */
    font-size: 1.2em; /* Tamaño de fuente ajustable */
}

.input-container {
    display: flex;
    justify-content: center; /* Centra el buscador y el botón de ordenamiento */
    margin: 20px auto; /* Centra verticalmente el contenedor */
  }
  