.mat-form-field {
  width: 100%;
  margin-top: 16px;
}

textarea {
  resize: vertical; /* Permite el redimensionamiento vertical, opcional */
  min-height: 200px; /* Altura mínima para el área de texto */
  width: 100%; /* Ocupa todo el ancho del contenedor */
}