<h2 mat-dialog-title>Observación de Cotización</h2>

<mat-dialog-content>
  <!-- Campo para subir imágenes -->
  <h3>Subir imágenes:</h3>
  <input type="file" (change)="onImageUpload($event)" accept="image/*" multiple />


  <!-- Campo para agregar/modificar observación -->
  <h3>Agregar una observación:</h3>
  <mat-form-field class="observation-field">
    <mat-label>Observación:</mat-label>
    <textarea matInput [(ngModel)]="observacion" name="observacion"></textarea>
  </mat-form-field>


</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cerrar</button>
  <button mat-button color="primary" (click)="confirmObservation()">Confirmar</button>
</mat-dialog-actions>
