<div class="confirmar-cotizacion">
  <h2>Confirmar Cotización</h2>

  <div>
    <p><strong>Nombre:</strong> <input [(ngModel)]="data.nombre" class="form-control" /></p>
    <p><strong>Teléfono:</strong> <input [(ngModel)]="data.telefono" class="form-control" /></p>
    <p><strong>Descripción:</strong> <textarea [(ngModel)]="data.descripcion" class="form-control"></textarea></p>
    <p><strong>Precio Aproximado:</strong> Q<input [(ngModel)]="data.precio_aproximado" type="number" class="form-control" /></p>
    <p><strong>Opción de Entrega:</strong>
      <select [(ngModel)]="data.envio" class="form-control">
        <option [value]="true">Envío</option>
        <option [value]="false">Recogida</option>
      </select>
    </p>
    <div *ngIf="data.envio">
      <p><strong>Dirección de Envío:</strong> <input [(ngModel)]="data.direccion" class="form-control" /></p>
    </div>
    <p><strong>Fecha de Entrega:</strong> <input [(ngModel)]="data.fecha" type="date" class="form-control" /></p>
    <p><strong>Hora de Entrega:</strong> <input [(ngModel)]="data.hora" type="time" class="form-control" /></p>
  </div>

 <!-- PRODUCTOS -->
<h4>Productos Seleccionados:</h4>
<ul class="list-unstyled d-flex flex-column gap-2"> 
  <li *ngFor="let item of data.desgloses; let i = index" class="producto-item"> 

    <!-- Selección del Producto -->
    <div class="form-group">
      <label>Producto:</label> <!-- Título para el producto -->
    <select [(ngModel)]="item.producto" [compareWith]="compararProductos" class="form-select producto-select">
      <option *ngFor="let producto of productosDisponibles" [ngValue]="producto">{{ producto.nombre }} Precio Sugerido: Q{{producto.precio_online }} </option>
    </select>
  </div>

    <!-- Selección de Masa -->
    <div class="form-group">
      <label>Masa:</label>
      <select [(ngModel)]="item.masa" class="form-select">
        <option *ngFor="let masa of masas" [ngValue]="masa">{{ masa.sabor_masa }}</option>
      </select>
    </div>

    <!-- Selección de Relleno -->
    <div class="form-group">
      <label>Relleno:</label>
      <select [(ngModel)]="item.relleno" class="form-select">
        <option *ngFor="let relleno of rellenos" [ngValue]="relleno">{{ relleno.sabor_relleno }}</option>
      </select>
    </div>

    <!-- Cantidad de producto -->
    <div class="me-2" style="width: 58px;">  
      <label>Cantidad:</label>
      <input [(ngModel)]="item.cantidad" type="number" placeholder="Cantidad" class="form-control" (ngModelChange)="actualizarSubtotal(item)" min="1" />
    </div>

    <!-- Precio -->
<div class="precio-container">
  <label>Precio:</label>
  <div class="d-flex align-items-center">
    <input [(ngModel)]="item.precio" type="number" class="form-control precio-input" (ngModelChange)="actualizarSubtotal(item)" />
    <span>Q</span>
  </div>
</div>

<!-- Subtotal -->
<div class="subtotal-container">
  <label>Subtotal:</label>
  <div class="d-flex align-items-center">
    <input [(ngModel)]="item.subtotal" type="number" class="form-control subtotal-input" readonly />
    <span>Q</span>
  </div>
</div>  

    <!-- Botón para Eliminar producto -->
<button class="btn eliminar-btn" (click)="eliminarProducto(i)">Eliminar<br>Producto</button>
  </li>
</ul>

<!-- Botón para Agregar producto -->
<button class="btn agregar-btn" (click)="agregarProducto()">Agregar Producto</button>

<!-- Mostrar total general -->
<h5>Total General:</h5>
<div class="total-general-group">
  <input [(ngModel)]="data.totalGeneral" type="number" class="form-control" (ngModelChange)="calcularTotalGeneral()" />
  <span>Q</span>
</div>

  <!-- Presupuesto -->
  <h4>Presupuesto:</h4>
  <div class="presupuesto-container">
    <div class="presupuesto-item"> <!-- Mano de obra -->
      <strong>Mano de obra:</strong> Q
      <input [(ngModel)]="data.manoDeObra" type="number" class="form-control" (ngModelChange)="calcularPresupuestoTotal()" />
    </div>
    <div class="presupuesto-item"> <!-- Insumos -->
      <strong>Insumos:</strong> Q
      <input [(ngModel)]="data.insumos" type="number" class="form-control" (ngModelChange)="calcularPresupuestoTotal()" />
    </div>
  </div>
  <div class="presupuesto-total"><!-- Presupuesto total -->
    <strong>Presupuesto Total:</strong> Q
    <input [(ngModel)]="data.presupuestoTotal" type="number" class="form-control" readonly />
  </div>

  <div class="observaciones mt-3">
    <label for="observaciones"><strong>Observaciones del pedido:</strong></label>
    <textarea id="observaciones" [(ngModel)]="data.observaciones" rows="3" class="form-control" placeholder="Escribe observaciones aquí"></textarea>
  </div>

  <h4>Imágenes:</h4>
  <div *ngFor="let img of data.imagenesSeleccionadas">
    <img [src]="img" alt="Imagen" class="img-thumbnail">
  </div>

  <button class="btn btn-success" (click)="confirmar()" [disabled]="isConfirmButtonDisabled">Confirmar</button>

</div>