
<body>

<div class="sidebar">
    <!-- Usuario -->
    <div class="user-section">
        <p  class="n_usuario">Usuario</p>
        <img src="assets/usuario.jpg"alt="Usuario" class="user-image">
    </div>
  
    <!-- Menú desplegable -->
    <div class="nav-item" (click)="navigateTo('/sisprincipal')"><!-- Botón de regresar al menu principal -->
        <mat-icon>computer</mat-icon>
        Inicio
    </div>

    <div class="nav-item" (click)="navigateTo('/pedido')">
        <mat-icon>cake</mat-icon>
        Pedidos
    </div>

    <div class="nav-item" (click)="toggleDropdown('cotizaciones')">
        <mat-icon>assignment</mat-icon>
        Cotizaciones
        <div class="dropdown" [ngClass]="{'show': isDropdownOpen('cotizaciones')}">
            <a href="/listar-cotizaciones"><mat-icon>book</mat-icon>Ver cotizaciones</a>
            <a href="/cliente"><mat-icon>person</mat-icon>Clientes</a>
            <a href="/tipo-entrega"><mat-icon>face</mat-icon>Entregas</a>
            <a href="/tipo-evento"><mat-icon>house</mat-icon>Eventos</a>
        </div>
    </div>

    <div class="nav-item" (click)="toggleDropdown('agenda')">
        <mat-icon>calendar_today</mat-icon>
        Agenda
        <div class="dropdown" [ngClass]="{'show': isDropdownOpen('agenda')}">
            <a href="/pagina-en-blanco"><mat-icon>kitchen</mat-icon>Pagina en blanco</a>
            
            
        </div>
    </div>

    <div class="nav-item" (click)="toggleDropdown('ventas')">
        <mat-icon>shopping_cart</mat-icon>
        Ventas
        <div class="dropdown" [ngClass]="{'show': isDropdownOpen('ventas')}">
            <a href="/tipo-insumo-utencilio"><mat-icon>kitchen</mat-icon>Tipos de insumos y utencilios</a>
            <a href="/motivo-salida"><mat-icon>kitchen</mat-icon>Motivos de salidas de inventario</a>
            <a href="/proveedor"><mat-icon>persons</mat-icon>Proveedores</a>
        </div>
    </div>

    <div class="nav-item" (click)="toggleDropdown('inventario')">
        <mat-icon>inventory</mat-icon>
        Inventario
        <div class="dropdown" [ngClass]="{'show': isDropdownOpen('inventario')}">
            <a href="/masas"><mat-icon>cake</mat-icon>Masas</a>
            <a href="/relleno"><mat-icon>cake</mat-icon>Rellenos</a>
            <a href="/receta"><mat-icon>cake</mat-icon>Recetas</a>
            <a href="/producto"><mat-icon>cake</mat-icon>Productos</a>
            <a href="/umps"><mat-icon>house</mat-icon>Unidades de medida</a>
        </div>
    </div>

    <div class="nav-item" (click)="toggleDropdown('usuarios')">
        <mat-icon>person</mat-icon>
        Usuarios
        <div class="dropdown" [ngClass]="{'show': isDropdownOpen('usuarios')}">
            <a href="/mantenimiento"><mat-icon>edit</mat-icon>Mantenimiento</a>
        </div>
    </div>

    <div class="nav-item" (click)="navigateTo('/unidad-medida')">
        <mat-icon>cake</mat-icon>
        Unidades de medida
    </div>

    <div class="nav-item" (click)="navigateTo('/estado')">
        <mat-icon>cake</mat-icon>
        Estado
    </div>

    <div class="nav-item" (click)="navigateTo('/pastel-realizado')">
        <mat-icon>cake</mat-icon>
        Pasteles realizados
    </div>

      <div class="logout-section" (click)="onLogout()"><!-- Botón de salir -->
        <mat-icon>exit_to_app</mat-icon>
        Salir del sistema
    </div>
    
</div>
<div class="main-content">

    <ng-content></ng-content>
</div>
</body>

