body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Mantiene la altura mínima */
    margin: 0; /* Elimina el margen por defecto */
    background-image: url('/assets/p1.png');
    background-size: cover; /* La imagen cubre toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll */
}
  
.sidebar {
    width: 250px;
    background-color: #db8a00; /* #ead863 */
    background-image: url('/assets/brown.jpg'); /* Ruta a la imagen de fondo */
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    z-index: 10; /* Asegura que esté por encima del contenido principal */
}

.user-section {
    text-align: center;
    margin-bottom: 20px;
}

.user-image {
    width: 80px;
    height: 80px;
   
    
    transition: transform 0.3s ease;
}

.user-image:hover {
    transform: scale(1.1);
}

.nav-item {
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    background-color: #ffd64e;
}

.nav-item:hover {
    background-color: #f7ff87;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.02); /* Aumenta ligeramente el tamaño del botón */
}

.nav-item mat-icon {
    vertical-align: middle;
    margin-left: 10px;
}

.dropdown {
    display: none;
    padding-left: 20px;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
}

.dropdown.show {
    display: block;
    max-height: 200px; /* Ajusta según el contenido esperado */
    opacity: 1;
}

.dropdown a {
    display: block;
    padding: 5px 0;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease, padding-left 0.3s ease;
}

.dropdown a:hover {
    background-color: #ddd;
    padding-left: 10px;
}

.main-content {
    flex: 1; /* Esto permite que el contenido principal ocupe el espacio restante */
    margin-left: 250px; /* Añade margen izquierdo para evitar superposición con la barra lateral */
    padding: 20px; /* Espaciado interno para el contenido */
    overflow-y: auto; /* Agrega desplazamiento vertical si es necesario */
}

.n_usuario {
    color: white; 
  }

  /* Estilo del botón de salir */
.logout-section {
    margin-top: auto;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #e53935; /* Rojo */
    color: white;
    text-align: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.logout-section mat-icon {
    vertical-align: middle;
    margin-right: 10px;
}

.logout-section:hover {
    background-color: #d32f2f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
}

.n_usuario {
    font-family: 'Georgia', serif; /* Cambia la fuente a una más elegante */
    font-size: 19px; /* Aumenta el tamaño del texto */
    color: #ffffff; /* Mantiene el color del texto */
    text-align: center; /* Centra el texto */
}