
<body>

<div class="sidebar">
    <!-- Usuario -->
    <div class="user-section">
        <p  class="n_usuario">K-rol's Cakes</p>
        <a routerLink="/sisprincipal"> <img src="assets/cake.gif"alt="Usuario" class="user-image"></a>
    </div>
  
    <!-- Menú desplegable -->
   <!-- Menú desplegable -->
<div class="nav-item" (click)="navigateTo('/sisprincipal')">
    <mat-icon>computer</mat-icon>
    Inicio
</div>

<div class="nav-item" (click)="toggleDropdown('agenda')">
    <mat-icon>calendar_today</mat-icon>
    Agenda
    <div class="dropdown" [ngClass]="{'show': isDropdownOpen('agenda')}">
        <a routerLink="/agenda"><mat-icon>event_note</mat-icon>Calendario</a>
    </div>
</div>

<div class="nav-item" (click)="toggleDropdown('pedidos')">
    <mat-icon>cake</mat-icon>
    Pedidos
    <div class="dropdown" [ngClass]="{'show': isDropdownOpen('pedidos')}">
        <a routerLink="/pedido"><mat-icon>assignment</mat-icon>Gestionar Pedidos</a>
        <a routerLink="/tipo-evento"><mat-icon>house</mat-icon>Tipo_Eventos</a>
        <a routerLink="/estado"><mat-icon>house</mat-icon>estado</a>
    </div>
</div>

<div class="nav-item" (click)="toggleDropdown('cotizaciones')">
    <mat-icon>assignment</mat-icon>
    Cotizaciones
    <div class="dropdown" [ngClass]="{'show': isDropdownOpen('cotizaciones')}">
        <a routerLink="/listar-cotizaciones"><mat-icon>book</mat-icon>Ver cotizaciones</a>
        <a routerLink="/cliente"><mat-icon>person</mat-icon>Clientes</a>
    </div>
</div>

<div class="nav-item" (click)="toggleDropdown('producto')">
    <mat-icon>inventory</mat-icon>
    Productos
    <div class="dropdown" [ngClass]="{'show': isDropdownOpen('producto')}">
        <a routerLink="/unidad-medida"><mat-icon>house</mat-icon>Unidades de medida Costo</a>
        <a routerLink="/masas"><mat-icon>cake</mat-icon>Masas</a>
        <a routerLink="/relleno"><mat-icon>cake</mat-icon>Rellenos</a>
        <a routerLink="/receta"><mat-icon>cake</mat-icon>Recetas</a>
        <a routerLink="/producto"><mat-icon>cake</mat-icon>Productos</a>
    </div>
</div>


<div class="nav-item" (click)="toggleDropdown('CatalogosInventario')">
    <mat-icon>inventory</mat-icon>
    Catalogos Inventario
    <div class="dropdown" [ngClass]="{'show': isDropdownOpen('CatalogosInventario')}">
        <a routerLink="/umps"><mat-icon>house</mat-icon>Unidades de medida inventario</a>
        <a routerLink="/tipo-insumo-utencilio"><mat-icon>kitchen</mat-icon>Tipos de insumos y utensilios</a>
        <a routerLink="/motivo-salida"><mat-icon>kitchen</mat-icon>Motivos de salidas de inventario</a>
    </div>
</div>

<div class="nav-item" (click)="toggleDropdown('inventario')">
    <mat-icon>inventory</mat-icon>
    Inventario
    <div class="dropdown" [ngClass]="{'show': isDropdownOpen('inventario')}">
        <a routerLink="/insumo-utencilio"><mat-icon>kitchen</mat-icon>Insumos Utencilios</a>
        <a routerLink="/proveedor"><mat-icon>persons</mat-icon>Proveedores</a>
        <a routerLink="/salidas"><mat-icon>house</mat-icon>salidas</a>
        <a routerLink="/compras"><mat-icon>house</mat-icon>entradas</a>
    </div>
</div>


<div class="nav-item" (click)="toggleDropdown('usuarios')">
    <mat-icon>person</mat-icon>
    Usuarios
    <div class="dropdown" [ngClass]="{'show': isDropdownOpen('usuarios')}">
        <a routerLink="/mantenimiento"><mat-icon>edit</mat-icon>Mantenimiento</a>
    </div>
</div>

    
      <div class="logout-section" (click)="onLogout()"><!-- Botón de salir -->
        <mat-icon>exit_to_app</mat-icon>
        Salir del sistema
    </div>


    
</div>
<div class="main-content">

    <ng-content></ng-content>
</div>
</body>

