    <body>
        
        <div class="navbar">
            <ul>
            
            <li><a routerLink="/cotizar" class="btn-cotizar"> <mat-icon>cake</mat-icon>Cotizar pedido</a></li>
        
        
            <li><a routerLink="/mision" class="btn-special"><mat-icon>book</mat-icon>Visión y Misión</a></li>
        
        
            <li><a routerLink="/organizacion" class="btn-special">  <mat-icon>group</mat-icon>Organización</a></li>
            
            <li><a routerLink="/contacto" class="btn-special"> <mat-icon>contact_mail</mat-icon>Contacto</a></li>

            <li><a routerLink="/qs" class="btn-special"><mat-icon>info</mat-icon> ¿Quiénes somos?</a></li>

            <li><a routerLink="/pasteles-realizados" class="btn-special"> <mat-icon>cake</mat-icon>Pasteles realizados</a></li>

            
            <li><a routerLink="/login" class="btn-login"> <mat-icon>login</mat-icon> Iniciar Sesión</a></li>
            
            </ul>
            
        </div>
        
        <div class="app-container">    
            <ng-content></ng-content>
        </div>

        
        <div class="footer">
            <p>© 2024 Krol Cakes. Todos los derechos reservados.</p>
        </div>
        </body>
        
        